# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# IDE / Editor files
.vscode/
.idea/

# Logs
*.log

# pytest cache
.pytest_cache/

# Migrations (si jamais tu ajoutes une DB)
migrations/
